mat-radio-button {
  margin: 6px 6px 6px 0;
}

.best-of-input {
  max-width: 75px;
  margin-right: 12px;
}

.players-label-container {
  height: 48px;
  display: flex;
  flex-direction: row;
}

.players-label-item {
  align-self: center;
  line-height: 100%;
}

.avg-slider {
  width: 100%;
  margin-top: 12px
}
