<form appLoading [loading$]="loading$" class="vertical-form" [formGroup]="form" (ngSubmit)="onSubmitForm()"
      #formDirective="ngForm">
  <label style="margin-bottom: 4px">Select match type</label>
  <mat-radio-group formControlName="matchType">
    <mat-radio-button value="MATCH_501">501</mat-radio-button>
    <mat-error>
      <ng-template appFormControlError [control]="form.get('matchType')"></ng-template>
    </mat-error>
  </mat-radio-group>

  <div formGroupName="bestOf" class="vertical-form" style="margin-top: 12px">
    <label style="margin-bottom: 4px">Select best of type</label>
    <mat-radio-group style="margin-bottom: 16px" formControlName="type">
      <mat-radio-button value="SETS">Sets</mat-radio-button>
      <mat-radio-button value="LEGS">Legs</mat-radio-button>
      <mat-error>
        <ng-template appFormControlError [control]="form.get('bestOf').get('type')"></ng-template>
      </mat-error>
    </mat-radio-group>

    <div>
      <mat-form-field class="best-of-input" *ngIf="form.get('bestOf').get('type').value === 'SETS'"
                      appearance="outline">
        <mat-label>Sets</mat-label>
        <input matInput
               aria-labelledby="label-sets"
               type="number"
               placeholder="3"
               formControlName="sets">
        <mat-error>
          <ng-template appFormControlError [control]="form.get('bestOf').get('sets')"></ng-template>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="best-of-input" appearance="outline">
        <mat-label>Legs</mat-label>
        <input matInput
               aria-labelledby="label-legs"
               type="number"
               placeholder="5"
               formControlName="legs">
        <mat-error>
          <ng-template appFormControlError [control]="form.get('bestOf').get('legs')"></ng-template>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <mat-slide-toggle formControlName="trackCheckouts">Track Checkout Percentage</mat-slide-toggle>

  <div formArrayName="players">

    <div class="players-label-container">
      <mat-label class="players-label-item">Players</mat-label>
      <button class="players-label-item" *ngIf="players.controls.length < 4" type="button" mat-icon-button
              color="accent" (click)="addPlayer()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <div *ngFor="let player of players.controls; let i=index" [formGroup]="$any(player)">
      <mat-form-field appearance="outline">
        <mat-label>Player</mat-label>
        <input matInput
               type="text"
               placeholder="John Doe"
               formControlName="playerId">

        <mat-checkbox formControlName="bot" matSuffix>Dart Bot</mat-checkbox>

        <!--        <button title="Login" tabindex="-1" mat-icon-button matSuffix>-->
        <!--          <mat-icon>login</mat-icon>-->
        <!--        </button>-->

        <button title="Remove Player" tabindex="-1" *ngIf="players.controls.length > 1" type="button" mat-icon-button
                matSuffix (click)="removePlayer(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>

        <mat-error>
          <ng-template appFormControlError [control]="player.get('playerId')"></ng-template>
        </mat-error>
      </mat-form-field>

      <div *ngIf="player.get('bot')?.value">

        <mat-label>Dart Bot Average: {{player.get('botAvg')?.value}}</mat-label>

        <button mat-icon-button (click)="openDartBotInfoDialog()">
          <mat-icon>info</mat-icon>
        </button>

        <mat-slider class="avg-slider" formControlName="botAvg" thumbLabel min="1" max="180"
                    step="1"></mat-slider>
        <mat-error>
          <ng-template appFormControlError [control]="player.get('botAvg')"></ng-template>
        </mat-error>
      </div>

    </div>
  </div>

  <mat-error>
    <ng-template appFormControlError [control]="form"></ng-template>
  </mat-error>

  <button [disabled]="loading$ | async" mat-flat-button color="primary" type="submit">Create</button>
</form>
