<div class="x01-statistics-container" *ngIf="recapUiData">

  <mat-card *ngFor="let dataSource of recapUiData.statisticsDatasource" class="information-card">
    <p class="information-card-title"
       [class.win-or-draw]="dataSource.result === resultType.WIN || dataSource.result === resultType.DRAW">
      {{dataSource.playerName}}
    </p>

    <!--     RESULT_SECTION     -->
    <div class="information-category-container">
      <p class="information-category-title">Result</p>

      <div class="information-container">
        <span class="information-title">Sets:</span>
        <span class="information-value">{{dataSource.setsWon}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">Legs:</span>
        <span class="information-value">{{dataSource.legsWon}}</span>
      </div>
    </div>

    <!--     SCORE_SECTION     -->
    <div class="information-category-container">
      <p class="information-category-title">Score</p>

      <div class="information-container">
        <span class="information-title">40+:</span>
        <span class="information-value">{{dataSource.statistics.scoresStats.fortyPlus}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">60+:</span>
        <span class="information-value">{{dataSource.statistics.scoresStats.sixtyPlus}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">80+:</span>
        <span class="information-value">{{dataSource.statistics.scoresStats.eightyPlus}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">100+:</span>
        <span class="information-value">{{dataSource.statistics.scoresStats.tonPlus}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">140+:</span>
        <span class="information-value">{{dataSource.statistics.scoresStats.tonFortyPlus}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">180+:</span>
        <span class="information-value">{{dataSource.statistics.scoresStats.tonEighty}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">Points Thrown:</span>
        <span class="information-value">{{dataSource.statistics.averageStats.pointsThrown}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">Darts Thrown:</span>
        <span class="information-value">{{dataSource.statistics.averageStats.dartsThrown}}</span>
      </div>
    </div>

    <!--     AVERAGE_SECTION     -->
    <div class="information-category-container">
      <p class="information-category-title">Average</p>

      <div class="information-container">
        <span class="information-title">3-Dart:</span>
        <span class="information-value">{{dataSource.statistics.averageStats.average}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">First 9:</span>
        <span class="information-value">{{dataSource.statistics.averageStats.averageFirstNine}}</span>
      </div>
    </div>

    <!--     CHECKOUT_SECTION     -->
    <div class="information-category-container">
      <p class="information-category-title">Checkout</p>

      <ng-container *ngIf="x01Match.trackDoubles">
        <div class="information-container">
          <span class="information-title">Percentage:</span>
          <span class="information-value">{{dataSource.statistics.checkoutStats.checkoutPercentage}} %</span>
        </div>

        <div class="information-container">
          <span class="information-title">Hit:</span>
          <span class="information-value">{{dataSource.statistics.checkoutStats.checkoutsHit}}</span>
        </div>

        <div class="information-container">
          <span class="information-title">Missed:</span>
          <span class="information-value">{{dataSource.statistics.checkoutStats.checkoutsMissed}}</span>
        </div>
      </ng-container>

      <div class="information-container">
        <span class="information-title">Highest:</span>
        <span class="information-value">{{dataSource.statistics.checkoutStats.checkoutHighest}}</span>
      </div>

      <div class="information-container">
        <span class="information-title">100+:</span>
        <span class="information-value">{{dataSource.statistics.checkoutStats.checkoutTonPlus}}</span>
      </div>
    </div>

  </mat-card>

</div>
