<div class="page-container"
     [ngClass]="{'full': selectedRound?.isLegInPlaySelected() && match?.matchStatus === 'IN_PLAY'}">

  <mat-toolbar [color]="(isDarkTheme$ | async) ? null : 'primary'">

    <mat-toolbar-row>
      <span>X01 Match</span>
      <span class="example-spacer"></span>
      <button #toggleThemeButton mat-icon-button (click)="toggleTheme()" matTooltip="Toggle Theme">
        <mat-icon>{{(isDarkTheme$ | async) ? 'light_mode' : 'dark_mode'}}</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>

  <app-x01-match-sheet
    (editScore)="onScoreSubmit(createEditThrow($event))"
    (deleteThrow)="publishDeleteThrow($event)" (deleteSet)="publishDeleteSet($event)"
    (deleteLeg)="publishDeleteLeg($event)" [checkouts]="checkouts"
    [match]="match"
    [(selectedRound)]="selectedRound"></app-x01-match-sheet>

  <mat-error class="match-error">{{error | async}}</mat-error>

  <app-keyboard *ngIf="selectedRound?.isLegInPlaySelected() && match?.matchStatus === 'IN_PLAY'"
                (scoreOutput)="onScoreSubmit(createNewThrow($event))"></app-keyboard>

</div>
