.live-match-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content minmax(0, 1fr);
  width: 100vw;
}

.match-sheet-container {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 8px;
  padding: 8px 0;
}

app-x01-match-sheet, app-keyboard, mat-error, app-x01-match-recap {
  padding: 0 8px;
  max-width: 1800px;
  margin: 0 auto;
}

app-x01-match-sheet {
  width: auto;
  height: 100%;
}

app-keyboard, app-x01-match-recap {
  width: 100%;
  height: 100%;
}

app-x01-match-sheet, app-x01-match-recap {
  overflow-y: auto;
}

app-keyboard {
  max-width: 800px;
}

.match-error {
  min-height: 1em;
}

.match-sheet-container.full {
  grid-template-rows: minmax(100px, 2fr) auto minmax(140px, 1fr);
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
