<div class="page-container" [ngClass]="{'full': selectedRound?.isLegInPlaySelected() && match?.matchStatus === 'IN_PLAY'}">

  <mat-toolbar color="primary"></mat-toolbar>

  <app-x01-match-sheet
    (editScore)="onScoreSubmit(createEditThrow($event))"
    (deleteThrow)="publishDeleteThrow($event)" (deleteSet)="publishDeleteSet($event)"
    (deleteLeg)="publishDeleteLeg($event)" [checkouts]="checkouts"
    [match]="match"
    [(selectedRound)]="selectedRound"></app-x01-match-sheet>

  <mat-error class="match-error">{{error | async}}</mat-error>

  <app-keyboard *ngIf="selectedRound?.isLegInPlaySelected() && match?.matchStatus === 'IN_PLAY'"
                (scoreOutput)="onScoreSubmit(createNewThrow($event))"></app-keyboard>

</div>
