@import '~@angular/material/theming';
@import "custom-color-palettes";

// Custom color collection. Ref: https://stackoverflow.com/a/58165951
$dark-theme-custom-color-collection: (
  help : #FFFFFF,
  success : #FFFFFF,
  contrast: (
    help: #181817,
    success : #0a630f
  )
);


// Custom color palette.
$dark-theme-custom-palette: mat-palette($dark-theme-custom-color-collection, custom);

// Primary palette.
$dark-theme-primary: mat-palette($mat-light-teal);

// Accent palette.
$dark-theme-accent: mat-palette($mat-light-red);

// Warn palette.
$dark-theme-warn: mat-palette($mat-light-grey);

// Create the dark theme.
$dark-theme: mat-dark-theme(
    $dark-theme-primary,
    $dark-theme-accent,
    $dark-theme-warn
);

// Add custom color collection to the dark theme.
$dark-theme: map_merge($dark-theme, (custom: $dark-theme-custom-palette));
