<div #container class="x01-match-sheet-container" [class.leg-in-play-selected]="isLegInPlaySelected()"
     *ngIf="match && matchUiData" xmlns="http://www.w3.org/1999/html">

  <div class="match-information-container">
      <span>
        Best of
        <span *ngIf="matchUiData.bestOf.sets > 1">{{matchUiData.bestOf.sets}} ({{matchUiData.bestOf.legs}}) sets</span>
        <span *ngIf="matchUiData.bestOf.sets <= 1">{{matchUiData.bestOf.legs}} legs</span>
      </span>
    <span>|</span>
    <span>X01 (501)</span>
  </div>

  <div class="players-information-container">
    <div class="player-information-container" *ngFor="let player of matchUiData.players let i = index"
         [ngClass]="{
         'current-throw': matchUiData.currentThrower === player.playerId && matchUiData.isLegInPlay,
         'starts-leg': matchUiData.throwsFirstInLeg === player.playerId
         }">

      <mat-card class="name-container" [ngClass]="{'win-or-draw': player.winOrDraw}">
        <span>
          Score:
          <span class="emphasize-value" *ngIf="matchUiData.bestOf.sets > 1">
            {{player.wonSets}} ({{player.wonLegs}})
          </span>
          <span class="emphasize-value" *ngIf="matchUiData.bestOf.sets <= 1">{{player.wonLegs}}</span>
        </span>
        <br>
        <span class="name">{{player.playerName}}</span>
      </mat-card>

      <mat-card #playerInformationContainer class="player-overview-container">

      <span class="last-score">Last:<br> <span
        class="emphasize-value">{{player.lastThrow ? player.lastThrow : '-'}}</span></span>

        <span class="big-remaining">{{player.remaining}}</span>

        <div class="checkout-hint" [style.visibility]="player.checkoutHint ? 'visible' : 'hidden'">
          <span>&#8203;</span>
          <ng-container *ngFor="let dart of player.checkoutHint?.suggested" [ngSwitch]="dart?.area">
            <span *ngSwitchCase="sectionAreas.TRIPLE">T{{dart.section}}</span>
            <span *ngSwitchCase="sectionAreas.DOUBLE">D{{dart.section}}</span>
            <span *ngSwitchCase="sectionAreas.INNER_SINGLE">{{dart.section}}</span>
            <span *ngSwitchCase="sectionAreas.OUTER_SINGLE">{{dart.section}}</span>
            <span *ngSwitchCase="sectionAreas.DOUBLE_BULL">BULL</span>
            <span *ngSwitchCase="sectionAreas.SINGLE_BULL">25</span>
          </ng-container>
        </div>

        <span class="three-dart-avg">3-Dart:<br> <span class="emphasize-value">{{player.average}}</span></span>

        <span class="first-nine-avg">
          First 9:
          <br>
          <span class="emphasize-value">{{player.averageFirstNine}}</span>
        </span>

      </mat-card>
    </div>
  </div>

  <div class="edit-container">

    <button appLoseFocusAfterClick (click)="onEditSetLegClick()" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>

    <mat-form-field appLoseFocusAfterClick appearance="standard">
      <mat-label>Select Leg <span *ngIf="matchUiData.bestOf.sets > 1">(Set {{selectedRound.set.set}})</span></mat-label>
      <mat-select [formControl]="legSelectionFormControl" [compareWith]="matchUiData.compareSelectedLeg">
        <mat-optgroup *ngFor="let set of matchUiData.timelineInNumbers | keyvalue" label="Set {{set.key}}">
          <mat-option *ngFor="let leg of set.value" [value]="{set: set.key, leg: leg}">
            Leg {{leg}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <button appLoseFocusAfterClick class="toggle-edit-btn" mat-flat-button color="primary"
            (click)="toggleEditMode()">
      Edit Mode
    </button>

  </div>

  <div #timelineTableContainer class="timeline-container">
    <mat-table class="custom-mat-table borderless gap" [dataSource]="matchUiData.roundsDataSource"
               [ngClass]="{'dark': (isDarkMode$ | async)}">

      <ng-container *ngFor="let column of matchUiData.displayedColumns; index as i"
                    [matColumnDef]="column">

        <mat-header-cell *matHeaderCellDef
                         [ngClass]="{'timeline-darts-header': column === 'darts'}">

          <div *ngIf="column !== 'darts' && column !== 'round'; then playerHeader else dartsHeader">
          </div>

          <ng-template #playerHeader>
            <span *ngIf="modeEdit"></span>
            <span>Score</span>
            <span>To Go</span>
          </ng-template>

          <ng-template #dartsHeader>
            <span>Round</span>
            <span>Darts</span>
          </ng-template>

        </mat-header-cell>

        <mat-cell [ngClass]="{'timeline-darts-value': column === 'darts'}"
                  *matCellDef="let round">

          <div *ngIf="column !== 'darts'; then playerRowValue else dartsRowValue">

          </div>

          <ng-template #playerRowValue>
            <button appLoseFocusAfterClick class="small-icon-button"
                    (click)="onEditScoreClick(round.round, column, round['playerScores'][column]?.scored)"
                    mat-icon-button
                    *ngIf="modeEdit && column !== 'darts'">
              <mat-icon>edit</mat-icon>
            </button>
            <span>{{round['playerScores'][column]?.scored}}</span>
            <span>{{round['playerScores'][column]?.remaining}}</span>
          </ng-template>

          <ng-template #dartsRowValue>
            <span>{{round['round']}}</span>
            <span>{{round['darts']}}</span>
          </ng-template>
        </mat-cell>

      </ng-container>

      <mat-header-row
        *matHeaderRowDef="matchUiData.displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: matchUiData.displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>
