@import "devices";

.title {
  line-height: 1em;
  font-weight: 500;
  font-size: 18px;


  @include tablet() {
    font-size: 20px;
  }

  @include desktop() {
    font-size: 26px;
  }

  @include desktop-xl() {
    font-size: 26px;
  }
}

.subtitle {
  line-height: 1em;
  font-weight: 500;
  font-size: 14px;

  @include tablet() {
    font-size: 15px;
  }

  @include desktop() {
    font-size: 16px;
  }

  @include desktop-xl() {
    font-size: 16px;
  }
}

.delete-buttons-container {
  margin-top: 16px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px;
}
