mat-radio-button {
  margin: 6px 6px 6px 0;
}

.best-of-input {
  max-width: 75px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.players-label-container {
  height: 48px;
  display: flex;
  flex-direction: row;
}

.players-label-item {
  align-self: center;
  line-height: 100%;
}

.avg-slider {
  width: 100%;
  margin-top: 12px
}

.player-item {
  border-bottom: solid 1px black;
  word-break: break-all;
  height: auto !important;
  width: 100%;
  padding: 6px;
}

.player-information-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.user-type-icon {
  margin-right: 6px;
}

.player-action-buttons-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.player-list {
  width: 100%;
  border: solid 1px black;
  border-radius: 4px;
}

.player-item:last-child {
  border: none;
}

.player-list:empty {
  border: none
}
