@use "devices" as devices;

.lobby-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content minmax(0, 1fr);
}

.lobby-content-container {
  height: 100%;
  display: flex;
  flex-flow: nowrap column;
  overflow-y: auto;
  padding: 8px;
}

.player-item {
  width: 100%;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.player-item:last-child {
  border-style: none;
}

.player-item > *:first-child {
  vertical-align: middle;
  margin-right: 6px;
}

.player-item > *:nth-child(2) {
  margin-right: 6px;
}

.player-item > *:last-child {
  vertical-align: middle;
  margin-left: auto;
}

.player-list {
  word-break: break-all;
}

.information-card {
  max-width: 750px;
  align-self: center;
}

.action-buttons-container {
  margin-top: 16px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}

.action-buttons-container button {

  @include devices.device(phone, phablet) {
    transform: scale(.75);
  }

  @include devices.device(tablet) {
    transform: scale(.9);
  }

}
