@import '@angular/material/theming';

.home-container {
  padding: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: fit-content;
  text-align: center;
  align-self: center;
}

#title {
  margin: 0;
}

#subtitle {
  margin: 0;
}

header, .login-register-container {
  margin-bottom: 24px;
}
