@import '~@angular/material/theming';
@import "devices";

@mixin app-keyboard-theme($color-config, $typography-config) {
  @if $color-config != null {
    @include app-keyboard-color($color-config);
  }
  @if $typography-config != null {
    @include app-keyboard-typography($typography-config);
  }
}

@mixin app-keyboard-color($color-config) {
  $primary: map-get($color-config, primary);
  $accent: map-get($color-config, accent);
  $background: map-get($color-config, background);

  .score-card-container {
    background-color: mat-color($background, card);
  }

  .score-value.focused {
    border-bottom-color: mat-color($primary);
  }
}

@mixin app-keyboard-typography($typography-config) {
  .score-title, .score-value {
    @include device(phone) {
      @include mat-typography-level-to-styles($typography-config, subheading-2);
    }

    @include device(phablet) {
      @include mat-typography-level-to-styles($typography-config, subheading-2);
      font-weight: 500;
    }

    @include device(tablet, desktop, desktop-xl) {
      @include mat-typography-level-to-styles($typography-config, title);
    }
  }

  .keyboard-input-button {
    @include device(phablet) {
      font-size: 18px;
    }

    @include device(tablet) {
      font-size: 20px;
    }

    @include device(desktop, desktop-xl) {
      font-size: 24px;
    }
  }
}
