@import '~@angular/material/theming';

@mixin app-surface-theme($color-config) {
  $background: map-get($color-config, background);
  $accent: map-get($color-config, accent);

  .surface {
    background-color: mat-color($background, card);
    border-color: mat-color($accent, 0.5);
  }

}

