@import '~@angular/material/theming';
@import "devices";

@mixin app-player-leg-theme($color-config, $typography-config) {
  @if $color-config != null {
    @include app-player-leg-color($color-config);
  }
  @if $typography-config != null {
    @include app-player-leg-typography($typography-config);
  }
}

@mixin app-player-leg-color($color-config) {
  $primary: map-get($color-config, primary);
  $accent: map-get($color-config, accent);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);

  .player-information-container, .player-remaining-container, .player-information-middle-container, .player-remaining-middle-container {
    border-color: transparent;
  }

  .player-information-container.current-throw, .player-remaining-container.current-throw {
    border-color: mat-color($accent);
  }

  .starts-leg {
    background-color: mat-color($accent);
  }

  .timeline-cell-value, .timeline-cell-header {
    border-color: mat-color($background, background);
  }

  // Default table with lighter hue.
  .timeline-container {
    .timeline-data-row:nth-child(even) {
      & > .timeline-cell-value {
        background-color: mat-color($primary, 200);
        color: mat-color($primary, '200-contrast');
      }
    }

    .timeline-data-row:nth-child(odd) {
      & > .timeline-cell-value {
        background-color: mat-color($primary, 400);
        color: mat-color($primary, '400-contrast');
      }
    }

    .timeline-cell-header {
      background-color: mat-color($primary, 600);
      color: mat-color($primary, '600-contrast');
    }
  }

  // Darker table with darker hue
  .timeline-container {
    &.dark {
      .timeline-data-row:nth-child(even) {
        & > .timeline-cell-value {
          background-color: mat-color($primary, 600);
          color: mat-color($primary, '600-contrast');
        }
      }

      .timeline-data-row:nth-child(odd) {
        & > .timeline-cell-value {
          background-color: mat-color($primary, 800);
          color: mat-color($primary, '800-contrast');
        }
      }

      .timeline-cell-header {
        background-color: mat-color($primary, 900);
        color: mat-color($primary, '900-contrast');
      }
    }
  }


}

@mixin app-player-leg-typography($typography-config) {

  .players-information-container, .players-remaining-container, .timeline-cell-value, .timeline-cell-header, .match-error {
    @include device(phone, phablet) {
      @include mat-typography-level-to-styles($typography-config, subheading-2);
    }

    @include device(tablet, desktop, desktop-xl) {
      @include mat-typography-level-to-styles($typography-config, title);
    }
  }

  .name {
    @include device(phone, phablet) {
      @include mat-typography-level-to-styles($typography-config, title);
    }

    @include device(tablet, desktop, desktop-xl) {
      @include mat-typography-level-to-styles($typography-config, headline);
      font-weight: 500;
    }
  }

  .average-value, .best-of-value, .last-score-value, .player-score-value {
    font-weight: 600;
  }

  .big-remaining {
    @include device(phone) {
      @include mat-typography-level-to-styles($typography-config, headline);
      font-weight: 500;
    }

    @include device(phablet) {
      @include mat-typography-level-to-styles($typography-config, display-1);
      font-weight: 500;
    }

    @include device(tablet, desktop, desktop-xl) {
      @include mat-typography-level-to-styles($typography-config, display-3);
      font-weight: 600;
    }

    @include device(desktop-xl) {
      @include mat-typography-level-to-styles($typography-config, display-3);
      font-weight: 600;
    }
  }
}
