<div #container class="container" *ngIf="match && matchUiData" xmlns="http://www.w3.org/1999/html">
  <div class="players-information-container">
    <mat-card #playerInformationContainer class="player-information-container"
              *ngFor="let player of matchUiData.players let i = index"
              [ngStyle]="{order: i}"
              [ngClass]="{'current-throw': matchUiData.currentThrower === player.playerId && matchUiData.isLegInPlay}">

      <div class="player-score-container">
        <div *ngIf="matchUiData.bestOf.isBestOfSets">
          Sets: <span class="player-score-value">{{player.wonSets}}</span>
        </div>
        <div>
          Legs: <span class="player-score-value">{{player.wonLegs}}</span>
        </div>
      </div>

      <p class="name">{{player.playerName}}</p>

      <div class="average-container" @blockInitialRenderAnimation>

        <p class="average-container-label">
          Avg.
          <button #toggleAverageButton mat-icon-button (click)="toggleAverage()">
            <mat-icon *ngIf="showAverages">add</mat-icon>
            <mat-icon *ngIf="!showAverages">remove</mat-icon>
          </button>
        </p>

        <ng-container *ngIf="showAverages">
          <div @expandCollapseAnimation><span>3-Dart:</span><span class="average-value">{{player.average}}</span></div>
          <div @expandCollapseAnimation><span>First 9:</span><span
            class="average-value">{{player.averageFirstNine}}</span></div>
        </ng-container>
      </div>

    </mat-card>

    <mat-card class="player-information-middle-container"
              [ngStyle]="{order: middleOrder}">

      <div class="best-of-container">
        <p>Best Of</p>
        <div>Sets:<span class="best-of-value">{{matchUiData.bestOf.sets}}</span></div>
        <div>Legs:<span class="best-of-value">{{matchUiData.bestOf.legs}}</span></div>
        <div>X01:<span class="best-of-value">{{matchUiData.bestOf.x01}}</span></div>
      </div>

      <button #toggleEditButton class="edit-score-button" mat-flat-button color="primary" (click)="toggleEditMode()">
        Edit Mode
      </button>
    </mat-card>
  </div>

  <div class="players-remaining-container">
    <mat-card *ngFor="let player of matchUiData.players let i = index" class="player-remaining-container"
              [ngStyle]="{order: i}"
              [ngClass]="{'current-throw': matchUiData.currentThrower === player.playerId && matchUiData.isLegInPlay}">

            <span class="starts-leg"
                  [style.visibility]="matchUiData.throwsFirstInLeg === player.playerId ? 'visible' : 'hidden'">
            </span>

      <p *ngIf="matchUiData.isLegInPlay">Last: <span
        class="last-score-value">{{player.lastThrow ? player.lastThrow : '-'}}</span></p>

      <p class="big-remaining">{{player.remaining}}</p>

      <div class="checkout-hint" [style.visibility]="player.checkoutHint ? 'visible' : 'hidden'">
        <span>&#8203;</span>
        <ng-container *ngFor="let dart of player.checkoutHint?.suggested" [ngSwitch]="dart?.area">
          <span *ngSwitchCase="sectionAreas.TRIPLE">T{{dart.section}}</span>
          <span *ngSwitchCase="sectionAreas.DOUBLE">D{{dart.section}}</span>
          <span *ngSwitchCase="sectionAreas.INNER_SINGLE">{{dart.section}}</span>
          <span *ngSwitchCase="sectionAreas.OUTER_SINGLE">{{dart.section}}</span>
          <span *ngSwitchCase="sectionAreas.DOUBLE_BULL">BULL</span>
          <span *ngSwitchCase="sectionAreas.SINGLE_BULL">25</span>
        </ng-container>
      </div>

    </mat-card>

    <mat-card class="player-remaining-middle-container"
              [ngStyle]="{order: middleOrder}">

      <div class="leg-select-header-container">
        <button (click)="onEditSetLegClick()" mat-icon-button *ngIf="modeEdit">
          <mat-icon>edit</mat-icon>
        </button>
        <span *ngIf="matchUiData.bestOf.isBestOfSets">Set {{legSelectionFormControl.value.set}}</span>
      </div>

      <mat-form-field appearance="standard">
        <mat-label>Select Leg</mat-label>
        <mat-select [formControl]="legSelectionFormControl" [compareWith]="matchUiData.compareSelectedLeg">
          <mat-optgroup *ngFor="let set of matchUiData.timelineInNumbers | keyvalue" label="Set {{set.key}}">
            <mat-option *ngFor="let leg of set.value" [value]="{set: set.key, leg: leg}">
              Leg {{leg}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

    </mat-card>
  </div>

  <div #timelineTableContainer class="timeline-container">
    <mat-table class="timeline-table" [dataSource]="matchUiData.roundsDataSource">

      <ng-container *ngFor="let column of matchUiData.displayedColumns; index as i"
                    [matColumnDef]="column">

        <mat-header-cell *matHeaderCellDef class="timeline-cell-header"
                         [ngClass]="{'timeline-darts-header': column === 'darts'}">

          <div *ngIf="column !== 'darts' && column !== 'round'; then playerHeader else dartsHeader">
          </div>

          <ng-template #playerHeader>
            <span>Score</span>
            <span>To Go</span>
          </ng-template>

          <ng-template #dartsHeader>
            <span>Round</span>
            <span>Darts</span>
          </ng-template>

        </mat-header-cell>

        <mat-cell class="timeline-cell-value" [ngClass]="{'timeline-darts-value': column === 'darts'}"
                  *matCellDef="let round">

          <div *ngIf="column !== 'darts' && column !== 'round'; then playerRowValue else dartsRowValue">

          </div>

          <ng-template #playerRowValue>
            <button (click)="onEditScoreClick(round.round, column, round['playerScores'][column]?.scored)"
                    mat-icon-button
                    *ngIf="modeEdit && column !== 'darts'">
              <mat-icon>edit</mat-icon>
            </button>
            <span>{{round['playerScores'][column]?.scored}}</span>
            <span>{{round['playerScores'][column]?.remaining}}</span>
          </ng-template>

          <ng-template #dartsRowValue>
            <span>{{round['round']}}</span>
            <span>{{round['darts']}}</span>
          </ng-template>
        </mat-cell>

      </ng-container>

      <mat-header-row class="timeline-header-row"
                      *matHeaderRowDef="matchUiData.displayedColumns; sticky: true"></mat-header-row>
      <mat-row class="timeline-data-row" *matRowDef="let row; columns: matchUiData.displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
