<div class="page-container live-match-container">

  <mat-toolbar [color]="(isDarkTheme$ | async) ? null : 'primary'">

    <mat-toolbar-row>
      <span>X01 Match</span>
      <span class="toolbar-spacer"></span>

      <button *ngIf="showScoreInput() && isScoreboard" appLoseFocusAfterClick mat-icon-button (click)="toggleNumpad()"
              matTooltip="Toggle Numpad">
        <mat-icon>keyboard</mat-icon>
      </button>

      <button appLoseFocusAfterClick mat-icon-button (click)="toggleScoreboard()" matTooltip="Toggle Scoreboard/Recap">
        <mat-icon *ngIf="isScoreboard">analytics</mat-icon>
        <mat-icon *ngIf="!isScoreboard" svgIcon="darts"></mat-icon>
      </button>

      <button appLoseFocusAfterClick mat-icon-button (click)="toggleTheme()" matTooltip="Toggle Theme">
        <mat-icon>{{(isDarkTheme$ | async) ? 'light_mode' : 'dark_mode'}}</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>

  <ng-container *ngIf="isScoreboard; then scoreboard else recap">
  </ng-container>

  <ng-template #scoreboard>
    <div class="match-sheet-container" [ngClass]="{'numpad': showNumpad(), 'score-input': showScoreInput()}">
      <app-x01-match-sheet
        (editScore)="onScoreSubmit(createEditThrow($event))"
        (deleteThrow)="publishDeleteThrow($event)" (deleteSet)="publishDeleteSet($event)"
        (deleteLeg)="publishDeleteLeg($event)" [checkouts]="checkouts"
        [match]="match"
        [(selectedRound)]="selectedRound"></app-x01-match-sheet>

      <mat-error class="match-error">{{error | async}}</mat-error>

      <app-score-input *ngIf="showScoreInput()" [showNumpad]="showNumpad()"
                       (scoreOutput)="onScoreSubmit(createNewThrow($event))"></app-score-input>

    </div>
  </ng-template>

  <ng-template #recap>
    <app-x01-match-recap [x01Match]="match"></app-x01-match-recap>
  </ng-template>

</div>
