@import '~@angular/material/theming';
@import "component-themes";
@import "dark-theme";
@import "light-theme";
//@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Custom Typography.
$typography-config: mat-typography-config(
  $font-family: 'Roboto, sans serif',
  $headline: mat-typography-level(32px, 48px, 700)
);

// Include mat-core (Note: Must be imported exactly once.)
@include mat-core($typography-config);

// Set the light theme as default.
@include angular-material-theme($light-theme);

// Add Custom Component Themes.
$light-theme-color-config: mat-get-color-config($light-theme);
@include custom-component-themes($light-theme-color-config, $typography-config);

.theme-dark {
  // Include the dark theme.
  @include angular-material-theme($dark-theme);

  // Include the dark theme in custom component themes.
  $dark-theme-color-config: mat-get-color-config($dark-theme);
  @include custom-component-themes($dark-theme-color-config, $typography-config);
}
