@use 'devices' as devices;

.x01-statistics-container {
  height: 100%;
  overflow-x: auto;
  padding: 8px;
  width: fit-content;
  display: grid;
  margin: auto;
  grid-auto-flow: column;
  grid-auto-columns: minmax(112px, 750px);
  grid-gap: 6px;
  align-items: center;
}

.tab-group-container {
  height: 100%;
  width: 100%;
}
