@use 'sass:map';
@use '~@angular/material/index' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');

  .dashboard-container {
    .dashboard-sidenav {
      background-color: mat.get-color-from-palette($accent-palette);
    }

    .dashboard-sidenav a {
      color: mat.get-color-from-palette($accent-palette, default-contrast);
    }

    .dashboard-sidenav li:hover a {
      color: mat.get-color-from-palette($primary-palette, default-contrast);
    }

    .dashboard-sidenav li:hover {
      background-color: mat.get-color-from-palette($primary-palette, .75);
    }

    li.active-nav {
      border-left-color: mat.get-color-from-palette($accent-palette, 900);
    }

    li.active-nav:hover {
      border-left-color: mat.get-color-from-palette($primary-palette, 900);
    }
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
