@use 'sass:map';
@use '~@angular/material/index' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $foreground-palette: map.get($color-config, 'foreground');
  $background-palette: map.get($color-config, 'background');

  .dashboard-container {
    .dashboard-sidenav a {
      color: mat.get-color-from-palette($foreground-palette, 'text');
    }

    .dashboard-sidenav li:hover {
      background-color: mat.get-color-from-palette($background-palette, 'hover');
    }

    li.active-nav {
      background-color: mat.get-color-from-palette($background-palette, 'hover');
    }
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
