@use 'sass:map';
@use '~@angular/material/index' as mat;
@use 'devices' as devices;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $background-palette: map.get($color-config, background);
  $custom-palette: map.get($color-config, custom);

  .x01-statistics-container {
    .information-card-title {
      &.win-or-draw {
        color: mat.get-color-from-palette($custom-palette, 'win-or-draw-contrast');
        background-color: mat.get-color-from-palette($custom-palette, 'win-or-draw');
      }
    }
  }
}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  .x01-statistics-container {
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
