@use 'sass:map';
@use '~@angular/material/index' as mat;
@use 'devices' as devices;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $background-palette: map.get($color-config, background);
  $custom-palette: map.get($color-config, custom);

  .x01-statistics-container {
    .player-name {
      background-color: mat.get-color-from-palette($background-palette, 'hover');

      &.win-or-draw {
        color: mat.get-color-from-palette($custom-palette, 'win-or-draw-contrast');
        background-color: mat.get-color-from-palette($custom-palette, 'win-or-draw');
      }
    }

    .stats-section-title {
      background-color: mat.get-color-from-palette($background-palette, 'hover');
    }
  }
}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  .x01-statistics-container {
    .player-name {
      @include mat.typography-level($typography-config, subheading-2);
      font-weight: 500;

      @include devices.device(desktop, desktop-xl) {
        @include mat.typography-level($typography-config, headline);
        font-weight: 500;
      }
    }

    .stats-section-title {
      @include mat.typography-level($typography-config, subheading-1);
      font-weight: 500;

      @include devices.device(desktop, desktop-xl) {
        @include mat.typography-level($typography-config, title);
        font-weight: 500;
      }
    }

    .stat-title, .stat-value {
      @include mat.typography-level($typography-config, body-1);

      @include devices.device(desktop, desktop-xl) {
        @include mat.typography-level($typography-config, subheading-2);
      }
    }

    .stat-value {
      font-weight: 500;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
